<html>
  <head>
    <meta charset="utf-8" />
    <title>QRHolder_<%- restaurantSlug %></title>
    <link rel="icon" href="<%- logoUrl %>" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
    <meta name="theme-color" content="#303336" />
    <style>
      .qr-holder {
        font-family: 'Kumbh Sans', sans-serif;
        height: 100%;
        color: #303336;
      }

      .qr-holder .content {
        height: calc(100% - 260px);
      }

      .restaurant-logo {
        height: 80px;
        margin-top: 32px;
      }

      .qr-code {
        height: 320px;
      }

      .scan-text {
        font-family: 'Kumbh Sans';
        width: 100%;
        text-align: center;
      }

      .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 42px;
        padding: 0 10px;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
      }

      @media print {
        @page {
          size: 105mm 148mm;
        }
      }
    </style>
  </head>

  <body style="margin: 0">
    <div class="qr-holder">
      <div class="content">
        <div style="display: flex; justify-content: center">
          <img src="<%- logoUrl %>" alt="Restaurant Logo" class="restaurant-logo" />
        </div>
        <div style="display: flex; justify-content: center">
          <img src="/<%- restaurantSlug %>/my-qr-code.svg" alt="QR Code" class="qr-code" />
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
          <span style="font-size: 15px; margin-bottom: 2px">SCAN ME FOR THE</span>
          <span style="font-size: 46px; font-weight: 800">MENU</span>
        </div>
        <div class="footer">
          <div style="display: flex; align-items: center">
            <img
              style="width: 13px; margin-right: 10px; margin-left: 4px"
              src="https://www.touchfreemenu.ro/img/logo.svg"
              type="image/png"
            />
            <div style="display: flex; justify-content: center; flex-direction: column">
              <span style="font-size: 11px">Powered by Touch-Free Menu™</span>
              <span style="font-size: 8px; color: #9ca0a4; margin-top: 1px; margin-bottom: -2px; letter-spacing: 0.2px"
                >www.touchfreemenu.ro</span
              >
            </div>
          </div>
          <div style="color: #9ca0a4; margin-top: -1px">
            <span style="font-size: 9px">tfmn.ro/<b><%- restaurantSlug %></b></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
