<html>
  <head>
    <meta charset="utf-8" />
    <title>QRHolder_<%- restaurantSlug %></title>
    <link rel="icon" href="<%- logoUrl %>" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <meta name="theme-color" content="#303336" />
    <style>
      html * {
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Kumbh Sans';
      }

      .bleed {
        overflow: hidden;
        display: inline-block;
        width: 113mm;
        height: 156mm;
        box-sizing: border-box;
        position: relative;
        color: #303336;

        /* box-shadow: 0px 0px 6px 0px #f004; */
      }

      .shadow {
        height: 100%;
        color: #263238;
        width: 105mm;
        height: 148mm;
        font-size: 14px;
        position: absolute;
        left: 4mm;
        top: 4mm;

        box-shadow: 1px 0px 6px 0px #333;
        z-index: 10;
      }

      .safety-area {
        height: 100%;
        width: 95mm;
        height: 138mm;
        font-size: 14px;
        position: absolute;
        left: 5mm;
        top: 5mm;

        border: 1px dotted #333;
        z-index: 10;
      }

      .restaurant-logo {
        height: 80px;
        margin-top: calc(32px + 4mm);
      }

      .scan-me-for {
        font-size: 15px;
        margin-bottom: 6px;
        margin-top: -4mm;
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(42px + 4mm);
        padding-top: 0;
        padding-bottom: 4mm;
        padding-right: calc(10px + 4mm);
        padding-left: calc(10px + 4mm);
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
      }

      .slug {
        border-radius: 28px;
        border: 0.5px dashed #fff0;
        color: #9ca0a4;
        font-size: 9px;
        margin-right: 2px;
        margin-top: -2px;
      }

      .powered-by {
        font-size: 11px;
        font-weight: 400;
      }

      .website {
        font-size: 8px;
        color: #9ca0a4;
        letter-spacing: 0.2px;
        font-weight: 400;
        margin-bottom: 2px;
        margin-top: -1px;
      }

      @media print {
        @page {
          size: 113mm 156mm;
        }
      }
    </style>
  </head>

  <body style="margin: 0; display: flex; justify-content: center; align-items: center">
    <div class="bleed">
      <!-- <div class="shadow">
        <div class="safety-area"></div>
      </div> -->
      <div class="content">
        <div style="display: flex; justify-content: center">
          <img src="<%- logoUrl %>" alt="Restaurant Logo" class="restaurant-logo" />
        </div>
        <div style="display: flex; justify-content: center">
          <img style="height: 308px; margin-top: -8px; position: relative; z-index: -1" src="/<%- restaurantSlug %>/my-qr-code.svg" alt="QR Code" />
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
          <span class="scan-me-for">SCAN ME FOR THE</span>
          <span style="font-size: 46px; font-weight: 800; margin-top: -2mm">MENU</span>
        </div>
        <div class="footer">
          <div style="display: flex; align-items: center">
            <img style="width: 13px; margin-right: 10px; margin-left: 4px; font-weight: 500" src="https://www.touchfreemenu.ro/img/logo.svg" type="image/png" />
            <div style="display: flex; justify-content: center; flex-direction: column">
              <span class="powered-by">Powered by Touch-Free Menu™</span>
              <span class="website">www.touchfreemenu.ro</span>
            </div>
          </div>
          <div class="slug">
            <span>tfmn.ro/<b><%- restaurantSlug %></b></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
