<html>

<head>
    <meta charset="utf-8" />
    <title>QR Holder | <%- slug %>
    </title>
    <link rel="icon" href="<%- logoUrl %>" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <meta name="theme-color" content="#221818" />
</head>

<body>
    <img src="<%- logoUrl %>" alt="Restaurant Logo" class="restaurant-logo" />
    <img src="<%- qrCodeUrl %>" alt="QR Code" class="qr-code" />
    <p class="scan-text">SCAN ME FOR THE</p>
    <p class="scan-text">MENU</p>
    <div class="pageFooter">
        <div class="content">
            <img class="tfmn-logo" src="/img/tfmn-logo.png" type="image/png">
            <div class="powered">Powered by Touch-Free Menu™</div>
            <div class="site-url">www.touchfreemenu.ro</div>
            <div class="short-menu-url">tfmn.ro/<b><%- slug %></b>
            </div>
        </div>
    </div>
</body>

</html>