<html>
  <head>
    <meta charset="utf-8" />
    <title>QRHolder_<%- restaurantSlug %></title>
    <link rel="icon" href="<%- logoUrl %>" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
    <meta name="theme-color" content="#303336" />
  </head>

  <body style="margin: 0">
    <div class="qr-holder">
      <div class="content">
        <div style="display: flex; justify-content: center">
          <img src="<%- logoUrl %>" alt="Restaurant Logo" class="restaurant-logo" />
        </div>
        <div style="display: flex; justify-content: center">
          <img src="/<%- restaurantSlug %>/my-qr-code.svg" alt="QR Code" class="qr-code" />
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
          <span style="font-size: 33px; margin-bottom: 5px">SCAN ME FOR THE</span>
          <span style="font-size: 100px; font-weight: 800">MENU</span>
        </div>
        <div class="footer">
          <div style="display: flex; align-items: center">
            <img style="width: 30px; margin-right: 24px" src="https://www.touchfreemenu.ro/img/logo.svg" type="image/png" />
            <div style="display: flex; justify-content: center; flex-direction: column">
              <span style="font-size: 24px">Powered by Touch-Free Menu™</span>
              <span style="font-size: 18px; color: #9ca0a4; font-weight: 100; margin-top: 4px; margin-bottom: -4px"
                >www.touchfreemenu.ro</span
              >
            </div>
          </div>
          <div class="short-menu-url">
            <span>tfmn.ro/<b><%- restaurantSlug %></b></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
