<!DOCTYPE html>
<html translate="no" lang="ro" translate="no">
  <head>
    <meta charset="utf-8" />
    <title>Meniu | <%- restaurant.name %></title>
    <link rel="icon" href="img/logo-medium.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cea mai bună versiune a meniului tău" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/menu-styles.css?rndstr=<%= +new Date() %>" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy" content="default-src https://cdn.example.net; child-src 'none'; object-src 'none'">

    <meta name="theme-color" content="<%- restaurant.themeColor || '#221818' %>" />
    <meta property="og:url" content="https://touchfreemenu.ro/<%- restaurant.username %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Meniu <%- restaurant.name %> | Touch-Free Menu™" />
    <meta property="og:description" content="Cea mai bună versiune a meniului tău" />
    <meta name="keywords" content="menu,restaurant,food,digital,<%- restaurant.name %>" />
    <meta property="og:image" content="<%- restaurant.coverPhotoUrl %>" />
  </head>

  <body onscroll="hideKeyboard(event)">
    <div class="menu">
      <div class="cover-wrapper">
        <img class="cover-photo" src="<%- restaurant.coverPhotoUrl %>" alt="Cover photo" />
        <div class="bottom-gradient"></div>
        <div class="restaurant-logo-wrapper">
          <img
            src="<%- restaurant.logoUrl %>"
            alt="Restaurant Logo"
            class="restaurant-logo <%- restaurant.logoWidthPercentage ? 'full-width' : '' %>"
            style="<%- restaurant.logoWidthPercentage ? 'height: auto; width: ' + restaurant.logoWidthPercentage + '%' : '' %>"
          />
        </div>
        <h1><%- restaurant.name %></h1>
        <h2 language="RO">Meniu</h2>
        <h2 language="EN">Menu</h2>
        <div onclick="toggleLanguage()" class="language-picker">
          <div class="language-picker-button">
            <div class="img-wrapper">
              <img language="RO" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/48/flag-for-romania_1f1f7-1f1f4.png" alt="Flag of Romania" />
              <img language="EN" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/237/flag-for-united-kingdom_1f1ec-1f1e7.png" alt="Flag of United Kingdom" />
            </div>
          </div>
        </div>
      </div>
      <div class="search-wrapper">
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
        <input onkeyup="search(this.value)" onfocus="scrollToInput()" autocorrect="off" autocapitalize="none" type="text" language="RO" placeholder="Caută" />
        <input onkeyup="search(this.value)" onfocus="scrollToInput()" type="text" autocorrect="off" autocapitalize="none" language="EN" placeholder="Search" />
        <div onclick="clearInput()" id="clearButton" class="clear-icon">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="categories-wrapper">
        <% restaurant.categories.forEach(function(category) { %>
        <div onclick="scrollToCategory('<%- category._id %>')" class="category-button">
          <span language="RO"><%- category.name %></span>
          <span language="EN"><%- category.nameEn %></span>
        </div>
        <% }); %>
      </div>
      <div class="products-wrapper">
        <% if(!restaurant.categories.length) { %>
        <p class="no-products">Niciun produs aici încă. 🤔</p>
        <% } %> <% restaurant.categories.forEach(function(category) { %>
        <div id="<%- category._id %>" class="category">
          <div language="RO" class="category-name"><%- category.name %></div>
          <div language="EN" class="category-name"><%- category.nameEn %></div>
          <div language="RO" class="category-description"><%- category.description %></div>
          <div language="EN" class="category-description"><%- category.descriptionEn %></div>
          <% category.products.forEach(function(product) { %>
          <div class="product">
            <% if(product.imageUrl) { %>
            <div class="expanded-photo">
              <img language="RO" src="<%- product.imageUrl %>" alt="<%- product.name %>" />
              <img language="EN" src="<%- product.imageUrl %>" alt="<%- product.nameEn %>" />
            </div>
            <% } %>
            <div class="content">
              <div language="RO" class="name"><%- product.name %></div>
              <div language="EN" class="name"><%- product.nameEn %></div>
              <% if(product.description?.length) { %>
              <div class="expanded-info">
                <div language="RO" class="description"><%- product.description[0].toUpperCase() + product.description.slice(1) %></div>
                <div language="EN" class="description"><%- (product.descriptionEn[0] || '').toUpperCase() + (product.descriptionEn || '').slice(1) %></div>
              </div>

              <% } %>
              <div class="weight"><%- product.quantities %></div>
              <div class="price <%- product.isDiscounted && product.discountedPrice ? 'obsolete' : '' %>">
                <%- product.price.toString().replace('.', ',') .replace(/\B(?=(\d{3})+(?!\d))/g, '.') %> RON
              </div>
              <% if(product.isDiscounted && product.discountedPrice) { %>
              <div class="discounted-price"><%- product.discountedPrice.toString().replace('.', ',') .replace(/\B(?=(\d{3})+(?!\d))/g, '.') %> RON</div>
              <% } %>
              <div class="euro-equivalent">
                <span language="EN"> ~<%- ((product.isDiscounted ? product.discountedPrice : product.price) / 4.93).toFixed(2).replace('.', ',') .replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>€ </span>
              </div>
            </div>
            <% if(product.imageUrl) { %>
            <img class="photo collapsed" src="<%- product.imageUrl %>" alt="<%- product.name %>" />
            <% } %> <% if(!product.isAvailable) { %>
            <div class="unavailable-banner">
              <span language="RO">Indisponibil</span>
              <span language="EN">Unavailable</span>
            </div>
            <% } %>
            <div class="gradient"></div>
          </div>
          <% }); %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <script src="js/smoothscroll.js"></script>
  <script src="js/menu-app.js?rndstr=<%= +new Date() %>"></script>
  <script src="https://kit.fontawesome.com/2f166c40b2.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B8XB17V9CY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-B8XB17V9CY');
  </script>
</html>
