<html translate="no">
  <head>
    <meta charset="utf-8" />
    <title>Meniu | <%- restaurant.name %></title>
    <link rel="icon" href="img/logo-medium.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/styles.css?rndstr=<%= +new Date() %>" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2f166c40b2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="menu">
      <div class="cover-wrapper">
        <img class="cover-photo" src="https://www.zilesinopti.ro/media/217fd7a95ac0dc832f47c99e891235ab.jpg/resize?w=750" />
        <div class="bottom-gradient"></div>
        <div class="restaurant-logo-wrapper">
          <div class="inner">
            <img src="<%- restaurant.logoUrl %>" alt="Restaurant Logo" class="restaurant-logo" />
          </div>
        </div>
        <h1 class="title"><%- restaurant.name %></h1>
        <h2 class="subtitle">Meniu</h2>
      </div>
      <div class="search-wrapper">
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
        <input id="searchInput" type="text" placeholder="Caută" />
        <div onclick="clearInput()" id="clearButton" class="clear-icon">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="products-wrapper">
        <% restaurant.categories.forEach(function(category) { %>
        <div class="category">
          <div class="category-label"><%- category.name %></div>
          <% category.products.forEach(function(product) { %>
          <div class="product">
            <% if(product.imageUrl) { %>
            <div class="expanded-photo">
              <img src="<%- product.imageUrl %>" alt="<%- product.name %>" />
            </div>
            <% } %>
            <div class="content">
              <div class="name"><%- product.name %></div>
              <% if(product.ingredients?.length) { %>
              <div class="description"><%- product.ingredients %></div>
              <% } %>
              <div class="weight"><%- product.quantities %></div>
              <div class="price <%- product.isDiscounted ? 'obsolete' : '' %>"><%- product.price %> RON</div>
              <% if(product.isDiscounted) { %>
              <div class="discounted-price"><%- product.discountedPrice %> RON</div>
              <% } %>
            </div>
            <% if(product.imageUrl) { %>
            <img class="photo collapsed" src="<%- product.imageUrl %>" alt="<%- product.name %>" />
            <% } %>
            <div class="gradient"></div>
          </div>
          <% }); %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <script src="js/smoothscroll.js"></script>
  <script src="js/app.js?rndstr=<%= +new Date() %>"></script>
</html>

<!-- Bacon uscat 80gr – 17 lei
Urechiușe de porc prăjite și picante 100g – 24 lei
Urechiușe de porc pârjolite 100g – 22 lei
Carnaciori de casa din carne de mistret 65g – 19.5 lei
Paine cu untura, bacon si ceapă verde 100gr – 14 lei
Pate de casa cu ridichi 150gr – 15 lei
Pasta de jumari cu ceapa verde 100gr – 15 lei -->
